@model UserAccountsVM

<!-- Accounts -->
<section class="accounts">

        <!-- Toolbar -->
        <div class="accounts__toolbar">

            <!-- search form -->
            <form asp-action="Accounts" method="get">

@*                 <!-- search -->
                <div class="accounts__search">
                    <div class="search">
                    <input class="search__input" type="text" asp-for="SearchLogin" maxlength="20" />
                    </div>
                </div>
 *@
            <!-- search -->
            <div class="accounts__search">
                <div class="search">
                    <button class="search__icon" type="submit">
                        <img src="/images/icons/search_user.svg"
                             alt="search">
                    </button>
                    <input class="search__input" type="text" asp-for="SearchLogin" maxlength="20">
                </div>
            </div>

            </form>

            <!-- checkboxes -->
            <ul class="accounts__checkboxes">
                <li>
                    <label class="checkbox wrapper">
                        <input type="checkbox" />
                        <div class="checkbox__checkmark"></div>
                        <div class="checkbox__body">Ожидание</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox wrapper">
                        <input type="checkbox" />
                        <div class="checkbox__checkmark"></div>
                        <div class="checkbox__body">В порядке</div>
                    </label>
                </li>
                <li>
                    <label class="checkbox wrapper">
                        <input type="checkbox" />
                        <div class="checkbox__checkmark"></div>
                        <div class="checkbox__body">Заблокированные</div>
                    </label>
                </li>
            </ul>
        </div>

    <!-- body -->
    <div class="accounts__body">

        <!-- quantity -->
        <div class="accounts__quantity">Пользователей: @Model.Quantity</div>

        <!-- Items -->
        <ul class="accounts__items">

            @if (Model.UserAccountVMs is not null)
            {
                @foreach (var user in Model.UserAccountVMs)
                {
                    <form asp-action="Accounts" method="post">
                    <input type="hidden" asp-for="UserId" value="@user.Id"/>
                    @if (user.Status == "waiting")
                    {
                        <li class="accounts__item accounts__item--blue">
                            <!-- name -->
                            <div class="accounts__name">
                                <p>@user.Login</p>
                            </div>
                            <!-- email -->
                            <div class="accounts__email">
                                <p>@user.Email</p>
                            </div>
                            <!-- status -->
                            <div class="accounts__status">
                                <input class="button button--blue" asp-for="Status" type="submit" value="зарегистрировать">
                            </div>
                        </li>
                    }
                    @if (user.Status == "banned")
                    {
                        <li class="accounts__item accounts__item--red">
                            <!-- name -->
                            <div class="accounts__name">
                                <p>@user.Login</p>
                            </div>
                            <!-- email -->
                            <div class="accounts__email">
                                <p>@user.Email</p>
                            </div>
                            <!-- status -->
                            <div class="accounts__status">
                                <input class="button button--green" asp-for="Status" type="submit" value="разблокировать">
                            </div>
                        </li>
                    }
                    @if (user.Status == "ok")
                    {
                        <li class="accounts__item accounts__item--green">
                            <!-- name -->
                            <div class="accounts__name">
                                <p>@user.Login</p>
                            </div>
                            <!-- email -->
                            <div class="accounts__email">
                                <p>@user.Email</p>
                            </div>
                            <!-- status -->
                            <div class="accounts__status">
                                <input class="button button--red" asp-for="Status" type="submit" value="заблокировать">
                            </div>
                        </li>
                    }
                    </form>
                }
            }
            else
            {
                <li class="accounts__item">
                    <div class="accounts__name">
                        <p></p>
                    </div>
                    <div class="accounts__email">
                        <p class="valid-span">Пользователя с логином "@Model.SearchLogin" не найдено!</p>
                    </div>
                    <div class="accounts__status">
                        <p></p>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>